#login{
	text-align: center;
	height: 420px;
	width: 350px;
	background-color: #a3d799;
	border-radius: 20px;
	display: center;
	vertical-align: center;
	margin-left:490px;
}
#apresentacao{
	font-family: Segoe UI Light;
	font-size: 25px;
	color:#686868;
	padding-top: 25px;
}
#arvore{
	width: 320px;
	height: 250px;
	border-radius: 23px;
}
li{
	width: 60px;
	height: 30px;
	background-color: white;
	border-radius: 15px;
	display: inline-block;
	list-style: none;
	font-family: Segoe UI Light;
	text-align: center;
	color: blue;
}
#corpo{
	background-image:url(bg.jpg);
}