<!DOCTYPE html>
<html lang="pt_br">
<head>
	<title>SocialNetWork</title>
	<link rel="stylesheet" type="text/css" href="f_estilo.css"/>
</head>
<body  id="corpo">

	<div id="login">
		<p id="apresentacao"> Bem Vindo a SocialNetwork</p>
		<img src="Tree.jpg" id="arvore">
		<ul>
			<li>Login</li><li>Cadas</li>
		</ul> 
	</div>
	</div>
	<form action="indeqs">
		<div>
			Last: <input type="text" >
			<button type="submit" value=""> Banana </button>
		</div>
	</form>
</body>
</html>